<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Nova Playlist</title>
    <link rel="stylesheet" href="/css/novo.css" />
    <link rel="shortcut icon" href="/img/spotifyLogo.png" type="image/x-icon">
</head>

<body>
    <div class="containerGrande">
        <div class="img">
            <img src="/img/xtranho.gif" alt="spotify" />
        </div>
    <div class="form-container">

        <form action="/emprestimos/novo" method="POST">
            <h2>Registrar Playlist</h2>
            <p>
                <label>Nome:</label><br />
                <input name="titulo" required placeholder="Playlist de viagem" autocomplete="off"/>             
            </p>

            <p class="acoes">
                <button type="submit" class="salvar">Salvar</button>
                <a href="/emprestimos" class="cancelar">Cancelar</a>
            </p>
            
            <div class="spotify-logo">
                <img src="/img/spotifyLogoWhite.png" alt="Spotify" class="spotifyLogoWhite">
            </div>

        </form>
    </div>
    </div>
</body>
</html>